<h1 class="title"> Alla bokningar </h1>

<div id="bookingcalendar">
  
</div>

<table class="table">
  <thead>
    <tr>
      <th> Bokning </th>
      <th> Datum </th>
      <th> Starttid </th>
      <th> Stopptid </th>
      <th> Redigera </th>
      <th> Ta bort </th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |b| %>
      <tr>
        <td> <%= b.id %> </td>
        <td> <%= b.start.to_date %> </td>
        <td> <%= l(b.start, format: '%H:%M') %> </td>
        <td> <%= l(b.stop, format: '%H:%M') %> </td>
        <td> <%= link_to('Redigera', edit_booking_path(b), class: "button is-primary is-small") %> </td>
        <td> <%= link_to('Ta bort', booking_path(b), method: :delete, class: "button is-danger is-small") %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
