<h1>Ny bokning</h1>
<%= form_with(model: @booking, url: skapabokning_path, remote: false) do |f| %>
  <%= f.datetime_field(:start) %>
  <%= f.datetime_field(:stop) %>
  <%= f.submit %>
<% end %>

<%= link_to('Alla bokningar', allabokningar_path) %>
