<h1 class="title"> Alla events</h1>

<div id="eventcalendar" class="mb-6">

</div>

<% if @user_events.any? %>
  <h3 class="title text-2xl" > Mina event</h3>
  <table class="table">
    <thead>
      <tr>
        <th> Event </th>
        <th> Datum </th>
        <th> Start </th>
        <th> Stopp </th>
        <th> Redigera </th>
        <th> Ta bort </th>
      </tr>
    </thead>
    <tbody>
      <% @user_events.each do |e| %>
        <tr>
          <td> <%= e.title %> </td>
          <td> <%= e.start.to_date %> </td>
          <td> <%= l(e.start, format: '%H:%M') %> </td>
          <td> <%= l(e.stop, format: '%H:%M') %> </td>
          <td> <%= link_to('Redigera', edit_event_path(e), class: "button is-primary is-small") %> </td>
          <td> <%= link_to('Ta bort', event_path(e), method: :delete, class: "button is-danger is-small") %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to('Nytt event', new_event_path, class: 'button is-primary') %>
