<h1 class="title"> <%= @event.title %> </h1>

<div class="columns">
  <div class="column">
    <%= image_tag('winter.jpg') %>
    <h3 class="title text-2xl py-4"> Beskrivning </h3>
    <%= @event.description %>
  </div>
  <div class="column is-one-third">
    <div class="bg-indigo rounded-lg shadow-lg p-4 text-white text-lg">
      <h3 class="title text-white text-2xl"> Information </h3>
      <%= fa_icon('calendar', text: l(@event.start, format: '%A %d %B %Y'))%>
      <br/>
      <%= fa_icon('clock-o', text: l(@event.start, format: '%H:%M') + ' - ' + l(@event.stop, format: '%H:%M'))%>
      <br/>
      <%= fa_icon('map-marker', text: 'Plats') %>
      <br/>
      <%= fa_icon('credit-card', text: 'Pris') %>
    </div>
  </div>
</div>
