<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Tidsbokning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <nav class="navbar border-b border-indigo-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <%= link_to(root_path, class: "navbar-item") do %>
            <h1 class="title">
              Tidsbokning
            </h1>
          <% end %>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
              <%= link_to("Events", events_path, class: "navbar-item text-lg") %>
              <%= link_to("Bokningar", bookings_path, class: "navbar-item text-lg") %>
              <%= link_to("Kontakt", contact_path, class: "navbar-item text-lg") %>
          </div>
          <div class="navbar-end">
            <% if signed_in? %>
              <div class="navbar-item">
              <%= current_user.name %>
            </div>
              <%= link_to("Logga ut", sign_out_path, method: :delete, class: 'navbar-item') %>
            <% else %>
              <%= link_to("Logga in", sign_in_path, class: 'navbar-item') %>
            <% end %>
          </div>
        </div>
    </header>


    <section class="section">
      <%= yield %>
    </section>
  </body>
</html>
