<!DOCTYPE html>
<html>
  <head>
    <title>Tidsbokning</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <%= link_to(root_path, class: "navbar-item") do %>
            <h1 class="title">
              Tidsbokning
            </h1>
          <% end %>

        </div>
    </header>
    <div class="columns">
      <div class="column is-one-quarter min-h-screen">
        <aside class="menu h-full">
          <ul class="menu-list">
            <li>
              <%= link_to('Alla bokningar', bookings_path) %>
            </li>
            <li>
              <%= link_to('Ny bokning', new_booking_path) %>
            </li>
            <li>
              <%= link_to('Events', events_path) %>
            </li>
            <li>
              <%= link_to('Kontakt', contact_path) %>
            </li>
          </ul>
          <div style='padding:1em 0.75em'>
          <% if signed_in? %>
            <strong>
            <%= current_user.name %>
            </strong>
            <%= button_to "Sign out", sign_out_path, method: :delete, class: 'button is-primary is-small' %>
          <% else %>
            <%= link_to "Sign in", sign_in_path, class: 'button is-primary is-small' %>
          <% end %>
          </div>
        </aside>
      </div>
      <div class="column">
        <section class="section">
          <%= yield %>
        </section>
      </div>
    </div>
  </body>
</html>
