<!DOCTYPE html>
<html>
  <head>
    <title>Tidsbokning</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <%= link_to(root_path, class: "navbar-item") do %>
            <h1 class="title">
              Tidsbokning
            </h1>
          <% end %>

        </div>
    </header>
    <div class="columns">
      <div class="column is-one-quarter">
        <aside class="menu is-fullheight">
          <ul class="menu-list">
            <li>
              <%= link_to('Alla bokningar', bookings_path) %>
            </li>
            <li>
              <%= link_to('Ny bokning', new_booking_path) %>
            </li>
            <li>
              <%= link_to('Kontakt', contact_path) %>
            </li>
            <li>
              <% if signed_in? %>
                <%= current_user.email %>
                <%= button_to "Sign out", sign_out_path, method: :delete %>
              <% else %>
                <%= link_to "Sign in", sign_in_path %>
              <% end %>
            </li>
          </ul>
        </aside>
      </div>
      <div class="column">
        <section class="section">
          <%= yield %>
        </section>
      </div>
    </div>
  </body>
</html>
